.vis-network {
    width: 99vw !important;
    height: 98vh !important;
}
table.legend_table {
    font-size: 30px;
    border-width:1px;
    border-color:#d3d3d3;
    border-style:solid;
}
table.legend_table,td {
    border-width:1px;
    border-color:#d3d3d3;
    border-style:solid;
}
div.table_content {
    width:80px;
    text-align:center;
}
div.table_description {
   width:100px;
}

.fixed-right {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 0px 6px !important;
    height: 27px;
    z-index:1000000;
}

.modal {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll !important;
}

.nowrap td { white-space: nowrap !important; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px !important; // currently 8px
}