{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Network Simulation
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('.static', filename='css/app.css') }}" rel="stylesheet">
<link href="{{ url_for('.static', filename='css/vis.min.css') }}" rel="stylesheet">
<link href="{{ url_for('.static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body_attribs %} onload="init()" {% endblock body_attribs %}


{% block content %}
<div id="routing-table-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="routing-table-title" class="modal-title">Routing table</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Target node</th>
                        <th>Minimum path</th>
                        <th>Cost</th>
                    </tr>
                    </thead>
                    <tbody id="routing-table">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="send-message-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="routing-table-title" class="modal-title">Send message</h4>
            </div>
            <div class="modal-body">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
</div>

<div id="message-sending-table-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" width="1000px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="message-sending-table-title" class="modal-title">Routing table</h4></p>
            </div>
            <div class="modal-body">
                <table class="table nowrap">
                    <thead>
                    <tr>
                        <th>Path</th>
                        <th>Service packets</th>
                        <th>Data packets</th>
                        <th>Time</th>
                        <th>Service Traffic</th>
                        <th>Data Traffic</th>
                    </tr>
                    </thead>
                    <tbody id="message-sending-table">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<button type="button" data-toggle="modal" data-target="#send-message-modal" class="btn fixed-right">
    <span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span>
</button>
<div id="network"></div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vis.min.js') }}"></script>
<script type="text/javascript">
    window.appConfig = {
      result: {{ result|tojson }}
    }
</script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock scripts %}
